/* font */
@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

/* body */
body{
    font-family: poppins;
}

/* variable */
:root{
    --primary-color: #1090CB;
    --secondary-color: #5C5C5C;
    --newcolor: #252525;
    --new2color: #868686;
}


/* navbar */
.home{
    color: var(--primary-color) !important;
}

.btn-color{
    background-color: var(--primary-color);
}

.btn-color:hover{
    background-color: white !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

/* hero section */
.bcolor{
    background-color: rgba(16, 144, 203, 0.1);
}

.detail{
    color: var(--secondary-color);
}

.second-btn{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.second-btn:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
    border: 1px solid var(--primary-color);
}

/* features */
.back1{
    background-color: #EFEAFF;
}

.back2{
    background: #ECFFDA;
}

.back3{
    background: #DAE6FF;
}

.back4{
    background: #FFE5DA;
}

.color1{
    color:#969696;
}

.bm{
    border-bottom: 1px solid #C7C7C7;
}

/* text */

.loremcolor{
    color: var(--newcolor);
}

.textcolor{
    color: var(--new2color);
}

.greycolor{
    color: #545454;
}

.happy1{
    background: #08D3BB;
}

/* hero 4 */
.purple{
    background: #9208D3;
}
