/* font */
@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

/* body */
body{
    font-family: poppins;
}

/* variable */
:root{
    --primary-color: #1090CB;
    --secondary-color: #5C5C5C;
}


/* navbar */
.home{
    color: var(--primary-color) !important;
}

.btn-color{
    background-color: var(--primary-color);
}

.btn-color:hover{
    background-color: white !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}

/* hero section */
.bcolor{
    background-color: rgba(16, 144, 203, 0.1);
}

.detail{
    color: var(--secondary-color);
}

.second-btn{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.second-btn:hover{
    background-color: var(--primary-color) !important;
    color: white !important;
    border: 1px solid var(--primary-color);
}

